$transition: transform 0.3s ease-out;

.move-animation {
	transition: $transition;

	&.main-app {
		transform: scale(0.8) translate(-300px, 5%) !important;
		overflow: hidden !important;
	}
	&.side-menu {
		transform: scale(1) translate(-100%, 5%) !important;
	}

	.page-inner {
		margin: 0px !important;
		padding: 0px !important;
		min-height: 100vh !important;

		.page-section.contact {
			position: absolute !important;
		}
	}
}

.normal {
	transform: none;
	transition: $transition;
	overflow-x: clip !important;
}

@media (max-width: 576px) {
	.move-animation {
		&.main-app {
			transform: scale(0.8) translate(-350px, 5%) !important;
		}
	}
}
