<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
	<div class="container-fluid align-items-start">
		<a class="navbar-brand" (click)="ScrollUp()" [routerLink]="['home']" class="logo">
			<img src="assets/Images/diwan-handbook/logo-gold.png" alt="logo-img" class="logo-img" />
			<!-- <img src="/assets/Images/white-full-logo.png" alt="logo-img" class="white-logo-img" /> -->
		</a>

		<!-- <button class="toggler-btn" (click)="OpenMenu()">
			<span class="navbar-toggler-icon"></span>
		</button> -->

		<div class="button" (click)="OpenMenu()">
			<div class="lines-div">
				<div class="line-div line-1">
					<div class="line"></div>
					<!-- &nbsp; -->
					<div class="line"></div>
				</div>
				<div class="line-div line-2">
					<div class="line"></div>
					<!-- &nbsp; -->
					<div class="line"></div>
				</div>
				<div class="line-div line-3">
					<div class="line"></div>
					<!-- &nbsp; -->
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>
</nav>
