$font-color: var(--gold1);
$font-color-secondary: var(--gold2);
$transition: all 0.6s ease-in;

.page-inner {
	display: flex;
	background-color: #000;

	img {
		max-width: 400px;
	}
	h1 {
		// font-size: 70px;
		font-size: 55px;
	}

	.page-section {
		justify-content: center;

		.content {
			height: auto;
			margin-top: var(--header-height);

			opacity: 0;
			transform: translateY(20px);
			transition: $transition;

			h1 {
				margin-bottom: 24px !important;
			}

			&.content-transition {
				opacity: 1;
				transform: translateY(0px);
			}

			.contact-list {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;

				.title {
					text-transform: uppercase;
					padding: 10px;
					width: 50%;
					font-size: 20px;
					font-weight: 600;
					.info {
						text-transform: none;
						font-size: 16px;
						font-weight: 400;
					}
				}
			}

			.social {
				// text-align: center;
				display: flex;
				flex-direction: column;
				a {
					i {
						font-size: 40px;
					}
					font-size: 24px;
					margin: 0 10px;
					color: var(--gold2);
					text-decoration: none;
					min-width: max-content;
					display: inline-block;

					&:hover {
						color: $font-color;
					}
				}

				@media (max-width: 576px) {
					a {
						i {
							font-size: 30px;
						}
						width: 40px;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.page-inner {
		.page-section {
			.gold-text {
				font-size: 45px;
			}

			.content {
				padding-inline-start: 10%;
				.contact-list {
					.title {
						width: 100%;
						.info {
							font-size: 18px;
						}
					}
				}
			}
		}

		.logo {
			max-width: 300px;
			margin-top: 20px;
		}
	}
}
