<div class="page-inner">
	<div class="page-section landing">
		<div class="partition image">
			<img class="glitch" src="assets/Images/diwan-handbook/break-the-rules.png" alt="" />
		</div>
		<div class="partition content">
			<h1>Careers</h1>
			<div *ngIf="careers?.length == 0">Currently no available career options.</div>
			<div *ngIf="careers?.length != 0">
				<div *ngFor="let career of careers">
					<h2>{{ career.career }}</h2>
					<p>{{ career.description }}</p>
					<hr />
				</div>
			</div>
		</div>
	</div>
</div>
