$font-color: var(--gold1);
$font-color-secondary: var(--gold2);

footer {
	padding: 20px 0;
	background-color: var(--primary-color1);
	color: var(--primary-font-color);
	.intro {
		display: flex;
		align-items: center;
		padding: 0 10%;
		img {
			height: 60px;
		}
		.line {
			width: 100%;
			height: 2px;
			background: var(--gold-gradient);
			margin-inline-start: 20px;
		}
	}
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.phrase {
			font-size: 14px;
			text-align: center;
		}

		.roww {
			display: flex;
			width: 100%;
			justify-content: space-around;
			margin: 10px 0;
			ul {
				list-style: none;
				text-align: center;
				font-size: 18px;
				line-height: 1.6;
				margin-bottom: 0;
				li {
					a {
						text-decoration: none;
						color: $font-color-secondary;
						font-size: 16px;
						margin-inline-end: 5px;
						&:hover {
							color: $font-color;
						}
					}
				}
			}
			.social {
				text-align: center;
				a {
					i {
						font-size: 24px;
					}
					padding: 0 10px;
					color: $font-color-secondary;
					&:hover {
						color: $font-color;
					}
				}
			}
		}
	}
	.copyright {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 14px;
		text-transform: uppercase;
		a {
			text-transform: none;
			-webkit-text-fill-color: initial;
			color: $font-color-secondary;
			&:hover {
				color: $font-color;
			}
		}

		.powered-by {
			color: $font-color;
			-webkit-text-fill-color: initial;
			text-transform: none;
		}
	}
}

@media (max-width: 576px) {
	footer {
		.intro {
			img {
				height: 40px;
			}
		}
		.main {
			flex-direction: column;
			padding: 0 5%;
			.roww {
				flex-wrap: wrap;
			}
		}
		.copyright {
			flex-direction: column;
			padding: 0 5%;
			.powered-by {
				font-size: 12px;
			}
		}
	}
}
