<footer>
	<div class="intro">
		<img src="assets/Images/diwan-handbook/logo-gold.png" alt="logo-img" class="white-logo-img" />
		<div class="line"></div>
	</div>
	<div class="main">
		<div class="phrase gold-text">Diwan studios is all about breaking the rules of standard to send a message that people can feel and remember</div>

		<div class="roww">
			<ul class="list-inline">
				<li class="list-inline-item"><a [routerLink]="['/',RoutePaths.Home]">Home</a></li>
				<li class="list-inline-item"><a [routerLink]="['/',RoutePaths.About]">About</a></li>
				<li class="list-inline-item"><a [routerLink]="['/',RoutePaths.Contact]">Contact Us</a></li>
				<li class="list-inline-item"><a [routerLink]="['/',RoutePaths.ArtWorks]">Art Works</a></li>
			</ul>

			<div class="social">
				<a target="_blank" href="https://www.facebook.com/DiwanStudios.egy"><i class="fa fa-facebook-square"></i></a>
				<a target="_blank" href="https://www.instagram.com/diwan_studios?igsh=MWM4Zmk3Mmt0MGZ4bQ=="> <i class="fa fa-instagram"></i></a>
				<!-- <a target="_blank" href="https://www.linkedin.com/in/amr-diwan-414191161"> <i class="fa fa-linkedin"></i> </a> -->
			</div>
		</div>
	</div>
	<div class="copyright gold-text">
		<div>© {{Year}} Diwan Studios, <a href="mailto:info@diwanstudio.com">{{'info@diwanstudio.com'}}</a>. All Rights Reserved.</div>
		<div class="powered-by">
			<small>Version {{version}} Powered By: <a href="mailto:techwizzjoes@gmail.com">{{'techwizzjoes'}}</a>. </small>
		</div>
	</div>
</footer>
